<nav class='navbar' role='navigation' aria-label='Main navigation'>
  <div class='nav-container'>
    <div class='nav-brand'>
      <a href='/' class='brand-link'>
        <img src='/images/logo/brand-logo.svg' alt='Properties 4 Creations Logo' class='brand-logo' />
        <span class='brand-text'>Properties 4 Creations</span>
      </a>
    </div>

    <button class='menu-toggle' aria-label='Toggle navigation menu' aria-expanded='false'>
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class='nav-menu' id='nav-menu'>
      <li><a href='/' class='nav-link'>Home</a></li>
      <li><a href='/properties/' class='nav-link'>Properties</a></li>
      <li><a href='/about/' class='nav-link'>About</a></li>
      <li><a href='/resources/' class='nav-link'>Resources</a></li>
      <li><a href='/contact/' class='nav-link'>Contact</a></li>
      <li>
        <a href='/apply/' class='btn btn-primary cta-link'>Apply Now</a>
      </li>
    </ul>
  </div>
</nav>